/QA_Repo/JOE/SupermarketFX/dist/
/QA_Repo/JOE/SupermarketFX/build/
/QA_Repo/NetBeansProjects/AcmeBankingComponents2/AcmeBankingComponents/nbproject/private/
/QA_Repo/NetBeansProjects/StockInfomation/nbproject/private/